In [ ]:
"""
Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
Rename the columns as per the description from this file:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
Task:
Create a sql db from adult dataset and name it sqladb
1. Select 10 records from the adult sqladb
2. Show me the average hours per week of all men who are working in private sector
3. Show me the frequency table for education, occupation and relationship, separately
4. Are there any people who are married, working in private sector and having a masters
degree
5. What is the average, minimum and maximum age group for people working in
different sectors
6. Calculate age distribution by country
7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and
'capital-loss'

"""

In [31]:
import csv
import sqlite3

In [32]:
import pandas as pd

In [33]:
#Provide Sqlite3 client connection
db = sqlite3.connect("sqladb.db")
cursor = db.cursor()

In [34]:
#Create Table with the naming convention
# - is replaced with _ in column names since sqlite doesn't allow - in column names
try :
    db.execute('DROP table adultTable')
    print("Dropped table adultTable")
except:
    a=1
finally:
    db.execute("CREATE TABLE adultTable (age INT(2),workclass VARCHAR(255), fnlwgt INT(5), education VARCHAR(255), education_num INT(5), marital_status VARCHAR(255), occupation VARCHAR(255), relationship VARCHAR(255), race VARCHAR(255), sex VARCHAR(255), capital_gain INT(20), capital_loss INT(20), hours_per_week INT(20), native_country VARCHAR(255), moreThan50K VARCHAR(255) )")
    print("Created table adultTable")

Created table adultTable

In [35]:

#Load data from sample.csv to table
with open ('sample.csv','r') as csvfile:
    table_data = csv.reader(csvfile)
    for row in table_data:
            try:
                listrow = row[0].split(',')
                db.execute('INSERT INTO adultTable VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)',listrow)
            except:
                break        
# Commit is important to reflect the changes
db.commit()

In [36]:
#1. Select 10 records from the adult sqladb
query = "SELECT * FROM adultTable LIMIT 10"
pd.read_sql(query, db)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,moreThan50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [37]:
# 2) Average hours per week for all man who are working in private sector
query = "SELECT AVG(hours_per_week) average_hours_per_week FROM adultTable WHERE trim(workclass) = 'Private' and trim(sex) = 'Male' "
pd.read_sql(query, db)

   average_hours_per_week
0               42.221226

In [38]:
#3. Show me the frequency table for education, occupation and relationship, separately
#    a) education
query = "SELECT education , COUNT(education) frequency FROM adultTable GROUP BY education "
pd.read_sql(query, db)

        education  frequency
0            10th        933
1            11th       1175
2            12th        433
3         1st-4th        168
4         5th-6th        333
5         7th-8th        646
6             9th        514
7      Assoc-acdm       1067
8       Assoc-voc       1382
9       Bachelors       5355
10      Doctorate        413
11        HS-grad      10501
12        Masters       1723
13      Preschool         51
14    Prof-school        576
15   Some-college       7291

In [39]:
#    b) occupation
query = "SELECT occupation, COUNT(occupation) frequency FROM adultTable GROUP BY occupation "
pd.read_sql(query, db)

            occupation  frequency
0                    ?       1843
1         Adm-clerical       3770
2         Armed-Forces          9
3         Craft-repair       4099
4      Exec-managerial       4066
5      Farming-fishing        994
6    Handlers-cleaners       1370
7    Machine-op-inspct       2002
8        Other-service       3295
9      Priv-house-serv        149
10      Prof-specialty       4140
11     Protective-serv        649
12               Sales       3650
13        Tech-support        928
14    Transport-moving       1597

In [40]:
#    a) relationship
query = "SELECT relationship, COUNT(relationship) frequency FROM adultTable GROUP BY relationship "
pd.read_sql(query, db)

      relationship  frequency
0          Husband      13193
1    Not-in-family       8305
2   Other-relative        981
3        Own-child       5068
4        Unmarried       3446
5             Wife       1568

In [41]:
# 4) Are there any people who are married, working in private sector and having a masters degree 
query = " SELECT * FROM adultTable WHERE TRIM(UPPER(marital_status)) LIKE ('MARRIED%') and trim(workclass) = 'Private' and trim(education) = 'Masters'"

pd.read_sql(query, db)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,moreThan50K
0,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
1,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
2,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
3,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
4,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
5,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,>50K
6,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
7,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
8,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
10,51,Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
11,31,Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States,>50K
12,34,Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,<=50K
13,40,Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
14,43,Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South,<=50K
15,51,Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
16,43,Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,>50K
17,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K
18,33,Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States,>50K
19,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
20,59,Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
21,38,Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,?,>50K
22,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,<=50K
23,57,Private,89392,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24,65,Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States,>50K
25,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,?,>50K
26,45,Private,46406,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,England,>50K
27,48,Private,126754,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
28,54,Private,177927,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
29,43,Private,201723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K
511,50,Private,201882,Masters,14,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
512,44,Private,267717,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,>50K
513,30,Private,182771,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
514,39,Private,198841,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States,>50K
515,53,Private,53197,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K
516,55,Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
517,36,Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
518,30,Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
519,35,Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,?,>50K
520,59,Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran,<=50K
521,39,Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
522,50,Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
523,30,Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
524,43,Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
525,47,Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States,>50K
526,48,Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba,>50K
527,49,Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States,>50K
528,43,Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
529,32,Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
530,40,Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
531,25,Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
532,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,>50K
533,61,Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
534,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
535,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
536,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
537,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
538,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
539,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [42]:
# 5) Average, minimum and maximum age group for people working in different sectors
query = " SELECT workclass as sector, AVG(age) averageAge, MIN(age) minAge, MAX(age) maxAge  FROM adultTable GROUP BY workclass "
pd.read_sql(query, db)

              sector  averageAge  minAge  maxAge
0                  ?   40.960240      17      90
1        Federal-gov   42.590625      17      90
2          Local-gov   41.751075      17      90
3       Never-worked   20.571429      17      30
4            Private   36.797585      17      90
5       Self-emp-inc   46.017025      17      84
6   Self-emp-not-inc   44.969697      17      90
7          State-gov   39.436055      17      81
8        Without-pay   47.785714      19      72

In [43]:
#6. Calculate age distribution by country
query = "SELECT Native_Country, Age, COUNT(Age) 'Count' FROM adultTable GROUP BY Native_Country, Age "
pd.read_sql(query, db)

     native_country  age  Count
0                 ?   17      2
1                 ?   18      8
2                 ?   19      5
3                 ?   20     10
4                 ?   21     11
5                 ?   22     12
6                 ?   23      6
7                 ?   24     14
8                 ?   25     11
9                 ?   26     18
10                ?   27     15
11                ?   28     19
12                ?   29     12
13                ?   30     19
14                ?   31     18
15                ?   32     17
16                ?   33     13
17                ?   34     24
18                ?   35     18
19                ?   36     23
20                ?   37     22
21                ?   38     20
22                ?   39     19
23                ?   40     12
24                ?   41     22
25                ?   42     24
26                ?   43     14
27                ?   44     10
28                ?   45     17
29                ?   46     15
...             ...  ...    ...
1251        Vietnam   37      2
1252        Vietnam   38      1
1253        Vietnam   40      1
1254        Vietnam   41      1
1255        Vietnam   43      2
1256        Vietnam   44      3
1257        Vietnam   45      3
1258        Vietnam   46      1
1259        Vietnam   48      1
1260        Vietnam   50      1
1261        Vietnam   51      1
1262        Vietnam   52      1
1263        Vietnam   53      1
1264        Vietnam   54      1
1265        Vietnam   63      1
1266        Vietnam   70      1
1267        Vietnam   73      2
1268     Yugoslavia   20      1
1269     Yugoslavia   22      1
1270     Yugoslavia   25      1
1271     Yugoslavia   29      1
1272     Yugoslavia   31      1
1273     Yugoslavia   35      2
1274     Yugoslavia   36      1
1275     Yugoslavia   40      1
1276     Yugoslavia   41      2
1277     Yugoslavia   43      1
1278     Yugoslavia   45      1
1279     Yugoslavia   56      2
1280     Yugoslavia   66      1

[1281 rows x 3 columns]

In [44]:
#7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'
query = " SELECT capital_gain, capital_loss , ( capital_gain - capital_loss ) 'Net_Capital_Gain' FROM adulttable "
pd.read_sql(query, db)

       capital_gain  capital_loss  Net_Capital_Gain
0              2174             0              2174
1                 0             0                 0
2                 0             0                 0
3                 0             0                 0
4                 0             0                 0
5                 0             0                 0
6                 0             0                 0
7                 0             0                 0
8             14084             0             14084
9              5178             0              5178
10                0             0                 0
11                0             0                 0
12                0             0                 0
13                0             0                 0
14                0             0                 0
15                0             0                 0
16                0             0                 0
17                0             0                 0
18                0             0                 0
19                0             0                 0
20                0             0                 0
21                0             0                 0
22                0             0                 0
23                0          2042             -2042
24                0             0                 0
25                0             0                 0
26                0             0                 0
27                0             0                 0
28                0             0                 0
29                0             0                 0
...             ...           ...               ...
32531             0             0                 0
32532             0             0                 0
32533             0             0                 0
32534             0             0                 0
32535             0             0                 0
32536             0             0                 0
32537             0             0                 0
32538         15020             0             15020
32539             0             0                 0
32540             0             0                 0
32541             0             0                 0
32542             0             0                 0
32543             0             0                 0
32544             0             0                 0
32545             0             0                 0
32546             0             0                 0
32547             0             0                 0
32548          1086             0              1086
32549             0             0                 0
32550             0             0                 0
32551             0             0                 0
32552             0             0                 0
32553             0             0                 0
32554             0             0                 0
32555             0             0                 0
32556             0             0                 0
32557             0             0                 0
32558             0             0                 0
32559             0             0                 0
32560         15024             0             15024

[32561 rows x 3 columns]